---
import { TITLE_PREFIX } from '../Consts';

interface Props {
    title: string | undefined;
};
const props: Props = Astro.props;

const title = TITLE_PREFIX + (props.title ? ` | ${props.title}` : '');
---

<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='description' content='Stratis Dermanoutsos is a Senior Software Developer based in Athens, Greece. He is passionate about building software in the most efficient and maintainable way possible.' />
    <meta name='twitter:title' content={title} />
    <meta property='og:title' content={title} />
</head>
